<!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="css/style.css">
        <%- include('components/header.ejs') -%>
    </head>
    
    <body class="Body">
        <div class="row">
            <div class="container text-center align-middle col-md-7">
                <center>
                    <h1 class="title">Welcome to the COVID-19 Data Tracker</h1> 
                    <div class="container title1">
                        <h4>This website is made to give you the data about COVID-19.</h4>
                    </div>
                    <br>
                    <table class="table table-bordered">
                        <thead class="thead-dark">
                            <th>Total Confirmed<th>Total Deaths<th>Total Recovered</th>
                            <tr>
                                <td><h4><%=data['Global'].TotalConfirmed%></h4></td>
                                <td><h4><%=data['Global'].TotalDeaths%></h4></td>
                                <td><h4><%=data['Global'].TotalRecovered%></h4></td>
                            </tr>
                        </thead>
                    </table>
                    <div class="container btn-group">
                        <button class="btn btn-outline-light" onClick="window.location.href='/world';">Countries Data</button>
                        <button class="btn btn-danger" onClick="window.location.href='/states';">Indian States Data</button>
                    </div>
                </center>
            </div>
            <div class="col col-md-4">
                <img class="world float-right w-100" src="./images/world.png" alt="worldmap">
            </div>
            <hr>
            
        </div>
        
    </body>
    <footer class="footer">
        <hr style="margin-bottom: 0;">
        <%- include('components/footer.ejs') -%>
   </footer>
</html>

