<!DOCTYPE html>
    <head>
        <%- include('../components/header.ejs'); -%>
        <style>
            body{
                background-image: url('../images/bg.jpg');
            }
            td {
                color: #d8ebb5;
            }
            .table h4{
                color: #fff;
            }
        </style>
    </head>
    <body>
        <h1 class="text-center bg-light" style="font-family: 'Sacramento', cursive; font-weight: bold; ">Hello welcome to COVID-19 Tracker!!</h1>
        <br>
        <hr>
        <div class="container">
            <table class="table table-striped table-bordered table-dark table-responsive-md">
                <thead class="thead-light">
                    <th>States</th><th>Confirmed</th><th>Active Cases</th><th>Recovered</th><th>Deceased</th>
                    <%for(var i=0;i<data.length;i++){%>
                        <tr>
                            <td><a href="/district/<%= data[i].state %>" class="text-light"><%= data[i].state %></a></td>
                            <td><%= data[i].confirmed %></td>
                            <td><%= data[i].active %></td>
                            <td><%= data[i].recovered %></td>
                            <td><%= data[i].deaths %></td>
                        </tr>
                    <%}%>
                </thead>
            </table>
        </div>
    </body>
    <footer>
        <%- include('../components/footer.ejs'); -%>
    </footer>
</html>
